body {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 79, 85);
  font-size: 1.25rem;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
}

p {
  margin: 0px;
  padding-left: 3%;
  padding-right: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0px;
  height: auto;
  min-height: 170px;
}

.output-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  overflow: hidden;
  margin: 0px;
  margin-bottom: 1%;
}

#input {
  border-radius: 4px;
  margin: 1% 2%;
  padding: 2%;
  min-width: 30%;
  height: auto;
}

#submit-btn {
  border-radius: 4px;
  margin: 1% 2%;
  padding: 2%;
  min-width: 20%;
  height: auto;
  border: 2px solid white;
  background-color: rgb(255, 79, 85);
}

input[type=text] {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
}

input[type=submit] {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

input[type="submit"]:focus {
  outline-color: yellow;
}